body {
    
    
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

}




/* background: #673AB7;  */
/* background: -webkit-linear-gradient(to right, #512DA8, #673AB7); */
/* background: linear-gradient(to right, #512DA8, #673AB7); */
